<% if user_signed_in? %>
 <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
<% else %>
 <li><%= link_to "Sign Up", new_user_registration_path %></li>
 <li><%= link_to "Login", new_user_session_path %></li>
<% end %>