<%= render "devise/shared/navbar" %>                      <b>  User: </b> <%= current_user.email %>

<br>
  <hr>
<br>

<h1>Listing products</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <% if product.user_id == current_user.id %> 
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= link_to 'Show', product %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
<br>
<%= link_to 'Click Here for json Response for api ', '/products.json' %> <br>
<%= link_to 'New Product', new_product_path %>

